body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  padding: 2rem;
}
nav {
  margin-bottom: 1rem;
}
a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
